@tailwind base;
@tailwind components;
@tailwind utilities;

.hide-scrollbar::-webkit-scrollbar {
	display: none; /* Hides scrollbar in Chrome, Safari */
  }
  
  .hide-scrollbar {
	-ms-overflow-style: none; /* Hides scrollbar in IE and Edge */
	scrollbar-width: none; /* Hides scrollbar in Firefox */
  }


  body {
  @apply font-poppins;
}

@keyframes growWidth {
  from {
    width: 0;
    transition: all 0.5s ease-in-out;
  }
  to {
    width: var(--width);
    transition: all 0.5s ease-in-out;
  }
}
